
{% extends "rms_app/base.html" %}

{% block content %}
{% load static %}
<div class="foodtable">
    <section id="food-section">
        {% if food_obj %}
        <h1 class="avail">Available Food</h1>
        <br>
        {% if user.is_authenticated %}
        <div>
            <a href="{% url 'rms-addtolist' %}">Add Item to Foodlist</a>
        </div>
        {% endif %}
        <div class="food-list">
            {% for food_item in food_obj  %}
            <div class="food-card">
                <div id="img">
                    <img src="{{ food_item.food_img.url }}" alt="">
                </div>
                <div class="food-info">
                    <h5 class="food-title">{{ food_item.food_item}} </h5>
                    <p class="food-price">Rs.{{ food_item.per_price}} 
                        {% if user.is_authenticated %}
                        <a href="{% url 'rms-updatetolist' food_item.id %} "> Edit</a>&ensp;
                        <a style="color: #d0333c;" href="{% url 'food_confirm_delete' food_item.id %} "> Delete</a>
                        {% endif %}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p>Opps! No fooditems in Database.😫
        {% if user.is_authenticated %}
        <div>
          <a  href="{% url 'rms-addtolist' %}">Add Item to Foodlist</a>
        </div>
        {% endif %}
        </p>
        {% endif %}
    </section>
</div>



{% endblock content %}