{% extends "rms_app/base.html" %}
{% block content %}
    <section id="content1">
        <div id="C1">
            <h3 class="intro">Introduction</h3>
            <p >This is an admin based mini web project developed for the management of the records of food, billing and food sales.It is created with the motive of creating ease for the counter-management side of a restaurant.</p>
        </div>
        <section id="content2">
            <div id='C2'>
                <div class="dev1">
                    <h5>Developed With:</h5>
                    <p>Frontend:-Html,CSS,jQuery</p>
                    <p>Backend:-Python,Sqlite,Django</p>
                </div>
                <div class="dev2">
                    <h5>Created By:</h5>
                    <p >Kushal Pangeni</p>
                    <p> Mishan Khatri</p>
                </div>
            </div>
        </section>
    </section>
{% endblock content %}

