{% extends "rms_app/base.html" %}
{% block content %} 
{% load static %}
{% load crispy_forms_tags %}
<div class="content-section-sales">
    <h2>List of Invoices</h2>
    <hr>
    <div id="horizontalbuttons">
        <form action="/dashboard/sales" method="get">
            <div class="col-xs-2">
                <label for="by_name" style="font-weight: 500;">Search By Name</label>
                <input class="form-control" type= "text" id = " by_name" name="q" placeholder="Search" required>
                <small class="help-block form-text text-muted">( Name can be either of Customer or Invoice creator.)</small>
                <br>
                <button type="submit" >Search</button>
            </div>
        </form>
        <form action="/dashboard/sales" method="get">
            <div class="col-xs-2">
                <label for="by_date" style="font-weight: 500;">Search By Date </label>
                <input class="form-control" type="number" min = '1' step = '1' name="d" placeholder="Search By date"  id = "by_date" required>
                <small class="help-block form-text text-muted">( eg: For year: 2021, For month: 1-12, For day:1-32 )</small>
                <br>
                <button type="submit" >Search</button>
            </div>
        </form>
    </div>
    <div class = "reset-btn">
        <a  href="{% url 'sales' %}"> Reset Search</a>
    </div>
    {% if invoice_obj %}
    <table>
        <tr style="font-family: Montserrat">
            <th>S.N</th>
            <th>Customer Name</th>
            <th>Created By </th>
            <th> Date Created  </th>
            <th> Details  </th>
            {% if request.user.is_superuser %}
            <th>
                Edit
            </th>
            {% endif %}
            {% if request.user.is_superuser %}
            <th>
                Delete
            </th>
            {% endif %}
        </tr>
        {% for itr in invoice_obj  %}
        <tr>
            <td class="SN">{{ itr.invoice_number}}</td>
            <td>{{ itr.customer_name}}</td>
            <td>{{ itr.created_by}}</td>
            <td>{{ itr.date_created}}&emsp;
            </td>
            <td><a  href="{% url 'invoice_details' itr.invoice_number %}">Details</a>&emsp;
            </td>
            {% if request.user.is_superuser %}
            <td >
                <a href="{% url 'add_items_on_invoice' itr.invoice_number %} "> Edit</a>&ensp;
            </td>
            {% endif %}
            {% if request.user.is_superuser %}
            <td>
                <a style="color: #d0333c;" href="{% url 'invoice_confirm_delete' itr.invoice_number %} "> Delete</a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    <div>
        <a  href="{% url 'dashboard' %}"> Return to Dashboard</a>
    </div>
    {% else %}
    <hr>
    <h2>Opps! No such invoices in Database.😫</h2>
    <div>
        <a  href="{% url 'dashboard' %}"> Return to Dashboard</a>
    </div>
    {% endif %}
</div>


<script>
    $(document).ready(function(){
        var first = 1;
        $('.SN').each(function(){
            $(this).html(first);
            first++;
        });
    })
</script>


<script

{% endblock content %}


